		<!-- ======= About Me ======= -->
		<div class="about-me container">
	
            <div class="section-title">
              <h2>About</h2>
              <p>Learn more about me</p>
            </div>
      
            <div class="row">
              <div class="col-lg-4" data-aos="fade-right">
                <img src="https://ik.imagekit.io/haydencordeiro/me2.png" class="img-fluid" alt="Hayden Cordeiro">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Exuberant, Intuitive & Inquisitive</h3>
                <p class="fst-italic">
                  Passionate SDET at BrowserStack, excelling in full-stack web and app development. Proven track record in optimizing processes and collaborating on innovative solutions.
                </p>
                <div class="row">
                  <div class="col-lg-6">
                    <ul>
                      <!-- <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 May 1995</span></li> -->
                      <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a target=" _blank" href="https://hayden.co.in/">hayden.co.in</a></span></li>
                      <!-- <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+123 456 7890</span></li> -->
                      <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Ontario, Canada</span></li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul>
                      <!-- <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li> -->
                      <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Pursuing my Master's</span>
                      </li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a rel="noopener" href="emailto:cordeirohayden@gmail.com" >cordeirohayden@gmail.com</a></span></li>
                      <!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
                    </ul>
                  </div>
                </div>
                <p>
                  Award-winning developer and tech enthusiast currently pursuing a Master's in Applied Computing. With a passion for innovation, I'm eager to contribute my expertise to collaborative projects. Let's connect and explore the boundless possibilities in the ever-evolving tech landscape! 🚀
                </p>
              </div>
            </div>
      
          </div>
      