---
const certificates = [
    {
        title: "Programming for Everybody (Getting Started with Python)",
        description: "Coursera",
        subDescription: "May 2020",
    },
    {
        title: "SQL for Data Science",
        description: "Coursera",
        subDescription: "May 2020",
    },
    {
        title: "Basic Image Classification with TensorFlow",
        description: "Coursera",
        subDescription: "May 2020",
    },
    {
        title: "Scrum Certified Fundamentals",
        description: "SCRUMStudy - Accreditation body for Scrum and Agile",
        subDescription: "April 2021",
    },
    {
        title: "Scrum: The Basics",
        description: "Linkedin Learning",
        subDescription: "Sep 2023",
    },
];
---

<section id="certifications" class="services section-show">
    <div class="container">
        <div class="section-title">
            <h2>My Certifications</h2>
            <p>Certifications</p>
        </div>

        <div class="row">
            {
                certificates.map((cert) => (
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-lg-4">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="bx bx-book-content" />
                            </div>
                            <h4>{cert.title}</h4>
                            <p>
                                {cert.description}
                                <>
                                    <br />
                                    <b>{cert.subDescription}</b>
                                </>
                            </p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div><!-- End Services Section -->
</section>
