	  <!-- ======= Contact Section ======= -->
	  <section id="contact" class="contact section-show">
		<div class="container">
	
		  <div class="section-title">
			<h2>Contact</h2>
			<p>Contact Me</p>
		  </div>
	
		  <div class="row mt-2">
	
			<div class="col-md-6 d-flex align-items-stretch">
			  <div class="info-box">
				<i class="bx bx-map"></i>
				<h3>My Address</h3>
				<p>Windsor, Ontario, Canada</p>
			  </div>
			</div>
	
			<div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
			  <div class="info-box">
				<i class="bx bx-share-alt"></i>
				<h3>Social Profiles</h3>
				<div class="social-links">
				  <!-- <a target=" _blank" href="#" class="twitter"><i class="bi bi-twitter"></i></a>
				  <a target=" _blank" href="#" class="facebook"><i class="bi bi-facebook"></i></a>
				  <a target=" _blank" href="#" class="instagram"><i class="bi bi-instagram"></i></a>
				  <a target=" _blank" href="#" class="google-plus"><i class="bi bi-skype"></i></a>
				  <a target=" _blank" href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> -->
				  <a rel="noopener" href="https://www.linkedin.com/in/haydencordeiro/" class="linkedin" aria-label="Hayden's linkedin" ><i class="bi bi-linkedin"></i></a>
				  <a rel="noopener" href="https://github.com/haydencordeiro" class="facebook" aria-label="Hayden's Facebook"><i class="bi bi-github"></i></a>
				  <a rel="noopener" href="https://instagram.com/haydencordeiro" class="instagram" aria-label="Hayden's Instagram"><i class="bi bi-instagram"></i></a>
				  <a rel="noopener" href="https://twitter.com/haydencordeiro" class="twitter" aria-label="Hayden's Twitter"><i class="bi bi-twitter"></i></a>
				</div>
			  </div>
			</div>
	
			<div class="col-md-6 mt-4 d-flex align-items-stretch">
			  <div class="info-box">
				<i class="bx bx-envelope"></i>
				<h3>Email Me</h3>
				<p><a target=" _blank" href="emailto:cordeirohayden@gmail.com"><span>cordeirohayden@gmail.com</span></a></p>
			  </div>
			</div>
			<div class="col-md-6 mt-4 d-flex align-items-stretch">
			  <div class="info-box">
				<i class="bx bx-globe"></i>
				<h3>My Website</h3>
				<p><a target=" _blank" href="https://hayden.co.in/" >hayden.co.in</a></p>
			  </div>
			</div>
		  </div>
		  <!-- 
		  <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
			<div class="row">
			  <div class="col-md-6 form-group">
				<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
			  </div>
			  <div class="col-md-6 form-group mt-3 mt-md-0">
				<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
			  </div>
			</div>
			<div class="form-group mt-3">
			  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
			</div>
			<div class="form-group mt-3">
			  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
			</div>
			<div class="my-3">
			  <div class="loading">Loading</div>
			  <div class="error-message"></div>
			  <div class="sent-message">Your message has been sent. Thank you!</div>
			</div>
			<div class="text-center"><button type="submit">Send Message</button></div>
		  </form> -->
	
		</div>
	  </section>