	
	  <!-- ======= Header ======= -->
	  <header id="header" class="">
		<div class="container">
	
		  <h1><span>Hayden Cordeiro</span></h1>
		  <!-- Uncomment below if you prefer to use an image logo -->
		  <!-- <a target=" _blank" href="index.html" class="mr-auto"><img src="1.webp" alt="" class="img-fluid"></a> -->
		  <h2>Full Stack Developer | Computer Engineer | <span>Enthusiastic,Persistent and Diligent</span></h2>
	
		  <nav id="navbar" class="navbar">
			<ul>
			  <li><a rel="noopener" class="nav-link active" href="#header" >Home</a></li>
			  <li><a rel="noopener" class="nav-link" href="#about">About</a></li>
			  <li><a rel="noopener" class="nav-link" href="#portfolio">Portfolio</a></li>
			  <li><a rel="noopener" class="nav-link" href="#accomplishments">Accomplishments</a></li>
			  <li><a rel="noopener" class="nav-link" href="#certifications">Certifications</a></li>
			  <li><a rel="noopener" class="nav-link" href="#contact">Contact</a></li>
			  <li><a rel="noopener" class="nav-link" href="/assets/HaydenCordeiro_Resume.pdf" download="HaydenCordeiro_Resume.pdf">Download
				  My Resume</a></li>
				  <div>
					<input type="checkbox" class="checkbox" id="chk" onclick="ThemeChange()" />
					<label class="label" for="chk">
						<i class="fas fa-sun"></i>
						<i class="fas fa-moon"></i>
						<div class="ball"></div>
					</label>
				</div>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		  </nav><!-- .navbar -->
	
		  <div class="social-links">
			<a rel="noopener" href="https://www.linkedin.com/in/haydencordeiro/" class="linkedin" aria-label="Hayden's linkedin" ><i class="bi bi-linkedin"></i></a>
			<a rel="noopener" href="tel:+1-226-961-9745" class="twitter" aria-label="Hayden's Phone"><i class="bi bi-telephone"></i></a>
			<a rel="noopener" href="sms:+12269619745?body=Hi%20Hayden,%20it's%20[Your%20Name]%20here.%20We%20met%20the%20other%20day%20..."  class="twitter" aria-label="Hayden's Phone"><i class="bi bi-chat-left-text"></i></a>
			<a rel="noopener" href="https://github.com/haydencordeiro" class="facebook" aria-label="Hayden's Facebook"><i class="bi bi-github"></i></a>
			<a rel="noopener" href="https://instagram.com/haydencordeiro" class="instagram" aria-label="Hayden's Instagram"><i class="bi bi-instagram"></i></a>
			<a rel="noopener" href="https://twitter.com/haydencordeiro" class="twitter" aria-label="Hayden's Twitter"><i class="bi bi-twitter"></i></a>
		</div>
	
		</div>
	  </header><!-- End Header -->