---
const { skill, backgroundColor } = Astro.props;

---
<div
data-filter= `.filter-${skill.toLowerCase().replace(/ /g, "_")}`
    style=`display: flex; align-items: center; flex-shrink: 0; min-width: 0px; max-width: 100%; height: 20px; border-radius: 3px; padding-left: 6px; padding-right: 6px; font-size: 14px; line-height: 120%; color: rgba(255, 255, 255, 0.804); background: ${backgroundColor}; margin: 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;`
>
    <div
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-flex; align-items: center; height: 20px; line-height: 20px;"
    >
        <span
            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
            >{skill}
        </span>
    </div>
</div>
