<div class="interests container">
	
    <div class="section-title">
      <h2>Interests</h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="bi bi-laptop" style="color: #ffbb2c;"></i>
          <h3>Web Development</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bx bx-code-alt" style="color: #e361ff;"></i>
          <h3>Frontend Development</h3>

        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bx bx-data" style="color: #47aeff;"></i>
          <h3>Backend Development</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="bx bx-server" style="color: #4233ff;"></i>
          <h3>Web Hosting</h3>

        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bx bx-globe" style="color: #b2904f;"></i>
          <h3>Domain & DNS</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bi bi-keyboard" style="color: #ffa76e;"></i>
          <h3>Unity Game Dev</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bi bi-people-fill" style="color: #11dbcf;"></i>
          <h3>Product Management</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bx bx-bug" style="color: #5578ff;"></i>
          <h3>Debugging</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bx bx-code" style="color: #e80368;"></i>
          <h3>Programming</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bi bi-phone" style="color: #b20969;"></i>
          <h3>App Development</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bx bx-chalkboard" style="color: #ff5828;"></i>
          <h3>Teaching & Training</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="bx bx-search-alt-2" style="color: #29cc61;"></i>
          <h3>Learn & Explore</h3>
        </div>
      </div>
    </div>

  </div>